﻿@model IEnumerable<System.Security.Claims.Claim>

<h1>Authentication</h1>
<p>This page requires authentication, but not authorization.</p>
<p>Listed below are the claims that have been retrieved for the authenticated user.</p>
<table>
    <thead>
    <tr>
        <th>Issuer</th>
        @*<th>Original Issuer</th>*@
        <th>Properites.Count</th>
        <th>Subject.Name</th>
        <th>Type</th>
        <th>Value</th>
        <th>ValueType</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var claim in Model)
    {
        <tr>
            <td>@claim.Issuer</td>
            @*<td>@claim.OriginalIssuer</td>*@
            <td>@claim.Properties.Count</td>
            <td>@claim.Subject.Name</td>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
            <td>@claim.ValueType</td>
        </tr>
    }
    </tbody>
</table>
