﻿@{
    ViewBag.Title = "Contact";
}

<h1>Authorization</h1>
<p>This page requires resource authorization for performing the Read action on the ContactDetails resource</p>
<p>These are application-specific authorizations; the authorization is performed in the AuthorizationManager of the website. We're choosing to authorize these resources based on certain roles that the authenticated user has - in this case the Geek role.</p>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>