﻿@{
    ViewBag.Title = "Home Page";
}

<h1>@Html.ActionLink("Authentication", "Authenticated", "Home")</h1>
<p>Requires authentication, but no authorisation</p>

<h1>@Html.ActionLink("Authorize", "Authorize", "Home")</h1>
<p>Requires resource authorization</p>

<h1>@Html.ActionLink("Log out", "Logout", "Home")</h1>
<p>Requires resource authorization</p>